include ../../../helpers/variables
include ../../../helpers/mixins

block variables
  -
    var pageTitle = pages.medical.title,
    pageUrls = [pages.medical.url],
    suffix = 'medical';
    paths.imgContent = `${paths.imgContent}/${suffix}`;

include ../../../blocks/share-box/share-box

.-popup._new.container-fluid
  header.__header
    h1.__title
      block title
        | Стимулы обновления
  .__img-wrap
    block img
      img.__img(src=`${paths.imgContent}/news-list/Fotolia_103492687_Subscription_Monthly_M1.jpg` alt='')
  p.
    Тематические недели пластической хирургии – наш новый формат консультаций, который сразу же полюбился пациентам.
  p.
    И все благодаря целому ряду приятных возможностей! Наше здоровье требует постоянного внимания.
    Крепкий организм, хорошее самочувствие и высокая работоспособность – преимущества, которыми
    каждый мечтает обладать, но не каждый может похвастаться. Чаще всего мы обращаемся к врачу лишь тогда, когда заболеем.
      нас может осознанно управлять своим здоровьем.
  p.
    Данное направление давно и широко известно в мире. Люди предпочитают заранее обратиться к врачу,
    пройти профилактическое обследование и выявить риски развития заболеваний, как генетически обусловленных,
    так и онкологических. Именно такая ранняя диагностика помогает сохранить здоровье и активность на долгие годы.
  +share-box()
  .-comments-list.collapsible
    .text-center
      +a().-btn._3(data-toggle='collapsible') Показать комментарии (2)
    .collapsible__inner
      article.-comments-list.__item
        header.__header
          h3.__title Наталья Петрова
          +time().__date 25 сентября 2016&nbsp;&nbsp; 14:23
        .__content
          p.
            Хорошо, что рядом с домом находится клиника и там работает знакомая медсестра, которая не только делает мне уколы, но и помогает мне...
      article.-comments-list.__item
        header.__header
          h3.__title Василий Пупкин
          +time().__date 24 сентября 2016&nbsp;&nbsp; 14:23
        .__content
          p.
            Хорошо, что рядом с домом находится клиника и там работает знакомая медсестра, которая не только делает мне уколы, но и помогает мне...
  form.-form-comment(action='')
    h3.__title Оставьте свой комментарий
    .-form-row
      label.-form-label
        input.-text-field.required(type='text' name='name' required data-msg-required='Введите имя')
        span.__text Ваше имя
    .-form-row
      label.-form-label
        input.-text-field.required(type='email' name='email' required data-msg-required='Введите e-mail' data-msg-email='Некорректный e-mail')
        span.__text Ваш e-mail
    .-form-row
      label.-form-label
        textarea.-text-field._textarea.required(name='msg' required data-msg-required='Введите сообщение')
        span.__text Текст Вашего сообщения
    .-form-row.text-center.margin-none-bottom
      button.-btn._1(type='submit') Отправить

  // Validate
  script.
      $('.form-comment').validate(
          {
              onkeyup: function (element) {
                  this.element(element);
              },
              onfocusout: function (element) {
                  this.element(element);
              },
              errorElement: 'div',
              errorPlacement: function (error, element) {
                  error.addClass('form-msg form-msg_error').insertAfter(element.closest('.text-field, .checkbox, .radio'));
              }
          }
      );