include ../../../helpers/variables
include ../../../helpers/mixins
include ../../../blocks/share-box/share-box

block variables
  -
    var pageTitle = pages.medical.title,
    pageUrls = [pages.medical.url],
    suffix = 'medical';
    paths.imgContent = `${paths.imgContent}/${suffix}`;

.-popup._new.container-fluid
  header.__header
    h1.__title Стимулы обновления
  .__img-wrap
    img.__img(src=`${paths.imgContent}/news-list/Fotolia_103492687_Subscription_Monthly_M1.jpg` alt='')
  p.
    Тематические недели пластической хирургии – наш новый формат консультаций, который сразу же полюбился пациентам.
  p.
    И все благодаря целому ряду приятных возможностей! Наше здоровье требует постоянного внимания.
    Крепкий организм, хорошее самочувствие и высокая работоспособность – преимущества, которыми
    каждый мечтает обладать, но не каждый может похвастаться. Чаще всего мы обращаемся к врачу лишь тогда, когда заболеем.
      нас может осознанно управлять своим здоровьем.
  p.
    Данное направление давно и широко известно в мире. Люди предпочитают заранее обратиться к врачу,
    пройти профилактическое обследование и выявить риски развития заболеваний, как генетически обусловленных,
    так и онкологических. Именно такая ранняя диагностика помогает сохранить здоровье и активность на долгие годы.
  +share-box()
  .text-center
    +a().-btn._3 Показать комментарии (2)