extends ../medical/new-1

block variables
  -
    var pageTitle = pages.fitness.title,
    pageUrls = [pages.fitness.url],
    suffix = 'fitness';
    paths.imgContent = `${paths.imgContent}/${suffix}`;

block title
  | Скидка 10% на групповые занятия

block img
  img.__img(src=`${paths.imgContent}/news-list/Fotolia_87950351_Subscription_Monthly_M.jpg` alt='')