@font-face {
  font-family: "glyphicons";
  src: url('../fonts/glyphicons/glyphicons.eot');
  src: url('../fonts/glyphicons/glyphicons.eot?#iefix') format('eot'),
  url('../fonts/glyphicons/glyphicons.woff2') format('woff2'),
  url('../fonts/glyphicons/glyphicons.woff') format('woff'),
  url('../fonts/glyphicons/glyphicons.ttf') format('truetype'),
  url('../fonts/glyphicons/glyphicons.svg#glyphicons') format('svg');
}

.glyphicon:before {
  font-family: "glyphicons";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  /* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
  text-decoration: none;
  text-transform: none;
  display: inline-block;
  vertical-align: top;
}


.glyphicon-angle-down:before {
  content: "\E001";
}

.glyphicon-arr-right:before {
  content: "\E002";
}

.glyphicon-close-2:before {
  content: "\E003";
}

.glyphicon-close:before {
  content: "\E004";
}

.glyphicon-comments:before {
  content: "\E005";
}

.glyphicon-diagnos:before {
  content: "\E006";
}

.glyphicon-facebook:before {
  content: "\E007";
}

.glyphicon-fb:before {
  content: "\E008";
}

.glyphicon-folder-med:before {
  content: "\E009";
}

.glyphicon-gp:before {
  content: "\E00A";
}

.glyphicon-heart:before {
  content: "\E00B";
}

.glyphicon-ins:before {
  content: "\E00C";
}

.glyphicon-mail:before {
  content: "\E00D";
}

.glyphicon-nav:before {
  content: "\E00E";
}

.glyphicon-plus:before {
  content: "\E00F";
}

.glyphicon-search:before {
  content: "\E010";
}

.glyphicon-share:before {
  content: "\E011";
}

.glyphicon-sister:before {
  content: "\E012";
}

.glyphicon-stat:before {
  content: "\E013";
}

.glyphicon-tablets:before {
  content: "\E014";
}

.glyphicon-tel-med:before {
  content: "\E015";
}

.glyphicon-tel:before {
  content: "\E016";
}

.glyphicon-tw:before {
  content: "\E017";
}

.glyphicon-twitter:before {
  content: "\E018";
}

.glyphicon-user:before {
  content: "\E019";
}

.glyphicon-viewers:before {
  content: "\E01A";
}

.glyphicon-vkontakte:before {
  content: "\E01B";
}