@font-face {
  font-family: "glyphicons";
  src: url('../fonts/glyphicons/glyphicons.eot');
  src: url('../fonts/glyphicons/glyphicons.eot?#iefix') format('eot'),
  url('../fonts/glyphicons/glyphicons.woff2') format('woff2'),
  url('../fonts/glyphicons/glyphicons.woff') format('woff'),
  url('../fonts/glyphicons/glyphicons.ttf') format('truetype'),
  url('../fonts/glyphicons/glyphicons.svg#glyphicons') format('svg');
}

.glyphicon:before {
  font-family: "glyphicons";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  /* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
  text-decoration: none;
  text-transform: none;
  display: inline-block;
  vertical-align: top;
}


.glyphicon-angle-down:before {
  content: "\E001";
}

.glyphicon-arr-right:before {
  content: "\E002";
}

.glyphicon-beauty-1:before {
  content: "\E003";
}

.glyphicon-beauty-2:before {
  content: "\E004";
}

.glyphicon-beauty-3:before {
  content: "\E005";
}

.glyphicon-beauty-4:before {
  content: "\E006";
}

.glyphicon-brov:before {
  content: "\E007";
}

.glyphicon-close-2:before {
  content: "\E008";
}

.glyphicon-close:before {
  content: "\E009";
}

.glyphicon-comments:before {
  content: "\E00A";
}

.glyphicon-diagnos:before {
  content: "\E00B";
}

.glyphicon-facebook:before {
  content: "\E00C";
}

.glyphicon-fb:before {
  content: "\E00D";
}

.glyphicon-fitness-1:before {
  content: "\E00E";
}

.glyphicon-fitness-2:before {
  content: "\E00F";
}

.glyphicon-fitness-3:before {
  content: "\E010";
}

.glyphicon-fitness-4:before {
  content: "\E011";
}

.glyphicon-fitness-5:before {
  content: "\E012";
}

.glyphicon-fitness-6:before {
  content: "\E013";
}

.glyphicon-fitness-7:before {
  content: "\E014";
}

.glyphicon-folder-med:before {
  content: "\E015";
}

.glyphicon-gp:before {
  content: "\E016";
}

.glyphicon-heart:before {
  content: "\E017";
}

.glyphicon-ins:before {
  content: "\E018";
}

.glyphicon-mail:before {
  content: "\E019";
}

.glyphicon-manicur:before {
  content: "\E01A";
}

.glyphicon-nav:before {
  content: "\E01B";
}

.glyphicon-pet-1:before {
  content: "\E01C";
}

.glyphicon-pet-2:before {
  content: "\E01D";
}

.glyphicon-pet-3:before {
  content: "\E01E";
}

.glyphicon-pet-4:before {
  content: "\E01F";
}

.glyphicon-pet-5:before {
  content: "\E020";
}

.glyphicon-pet-6:before {
  content: "\E021";
}

.glyphicon-pet-7:before {
  content: "\E022";
}

.glyphicon-plus:before {
  content: "\E023";
}

.glyphicon-search:before {
  content: "\E024";
}

.glyphicon-share:before {
  content: "\E025";
}

.glyphicon-sister:before {
  content: "\E026";
}

.glyphicon-stat:before {
  content: "\E027";
}

.glyphicon-tablets:before {
  content: "\E028";
}

.glyphicon-tel-med:before {
  content: "\E029";
}

.glyphicon-tel:before {
  content: "\E02A";
}

.glyphicon-tw:before {
  content: "\E02B";
}

.glyphicon-twitter:before {
  content: "\E02C";
}

.glyphicon-user:before {
  content: "\E02D";
}

.glyphicon-viewers:before {
  content: "\E02E";
}

.glyphicon-vkontakte:before {
  content: "\E02F";
}

.glyphicon-volos:before {
  content: "\E030";
}