extends medical

block variables
  -
    var pageTitle = pages.beauty.title,
    pageUrls = [pages.beauty.url],
    suffix = 'beauty';
    paths.imgContent = `${paths.imgContent}/${suffix}`;

block section-services__lead
  | 123