extends medical

block variables
  -
    var pageTitle = pages.pet.title,
    pageUrls = [pages.pet.url],
    suffix = 'pet';
    paths.imgContent = `${paths.imgContent}/${suffix}`;

block slider-main
  +slider-main(sliderMainPet)

block section-services__lead
  | Ветеренарная клиника

block services-list
  +services-list(servicesListPet)


block section-about__lead
  | Ветеренарная клиника

block section-about__img
  img.img-responsive(src=`${paths.imgContent}/Fotolia_107974766_Subscription_Monthly_M.jpg` alt='')

block advantages-list
  +advantages-list(advantagesListPet)


block section-personnel__lead
  | Ветеренарная клиника

block personnel-list
  +personnel-list(personnelListPet)


block section-reviews__lead
  | Ветеренарная клиника

block reviews-list
  +reviews-list(reviewsListMedical)(data-slick='{"autoplay": true, "autoplaySpeed": 10000}' data-slideout-ignore)


block section-news__lead
  | Ветеренарная клиника

block news-list
  +news-list(newsListPet)


block section-gallery__lead
  | Ветеренарная клиника

block tabs-gallery-nav
  +a('#tab-1').__nav-item.btn.btn_4 Лечение
  +a('#tab-2').__nav-item.btn.btn_4 Диагностика
  +a('#tab-3').__nav-item.btn.btn_4 Клиника

block tabs-gallery-content-1
  +albums-list(albumsListPet)

block tabs-gallery-content-2
  +albums-list(albumsListFitness.slice(1, 6))

block tabs-gallery-content-3
  +albums-list(albumsListFitness.slice(1, 5))


block section-prices__lead
  | Ветеренарная клиника