extends ../medical/service-1

block variables
  -
    var pageTitle = pages.yoga.title,
    pageUrls = [pages.yoga.url],
    suffix = 'yoga';
    paths.imgContent = `${paths.imgContent}/${suffix}`;

block title
  | Детская йога

block img
  img.__img(src=`${paths.imgContent}/services-list/Fotolia_119839973_Subscription_Monthly_M.jpg` alt='')