extends ../medical/album-1

block variables
  -
    var pageTitle = pages.pet.title,
    pageUrls = [pages.pet.url],
    suffix = 'pet';
    paths.imgContent = `${paths.imgContent}/${suffix}`;

block photos-list
  +photos-list(photosListPet)