extends ../medical/service-1

block variables
  -
    var pageTitle = pages.spa.title,
    pageUrls = [pages.spa.url],
    suffix = 'spa';
    paths.imgContent = `${paths.imgContent}/${suffix}`;

block title
  | Лечебный массаж

block img
  img.__img(src=`${paths.imgContent}/services-list/Fotolia_85186536_Subscription_Monthly_M.jpg` alt='')