include ../personnel-item/personnel-item

-
  var personnelListMedical = [
  {
  img: 'Fotolia_105772775_Subscription_Monthly_M.jpg',
  title: 'Василий Пупкин',
  description: 'Терапевт'
  },
  {
  img: 'Fotolia_121754012_Subscription_Monthly_M.jpg',
  title: 'Антонина Петрова',
  description: 'Ультразвуковая диагностика'
  },
  {
  img: 'Fotolia_111491835_Subscription_Monthly_M.jpg',
  title: 'Анастасия Ягодкина',
  description: 'Эндокринолог'
  },
  {
  img: 'Fotolia_99513289_Subscription_Monthly_M.jpg',
  title: 'Александр Лункин',
  description: 'Врач общей практики'
  }
  ]

mixin personnel-list(personnelList)
  .-personnel-list&attributes(attributes)
    .__row.row
      each personnel, index in personnelList
        .__col.col-xs-12.col-sm-6.col-md-3
          +personnel-item(personnel)
      // Spacers
      .__col.col-xs-12.col-sm-6.col-md-3
      .__col.col-xs-12.col-sm-6.col-md-3
      .__col.col-xs-12.col-sm-6.col-md-3
      .__col.col-xs-12.col-sm-6.col-md-3