extends ../medical/personnel-1

block variables
  -
    var pageTitle = pages.beauty.title,
    pageUrls = [pages.beauty.url],
    suffix = 'beauty';
    paths.imgContent = `${paths.imgContent}/${suffix}`;

block title
  | Сотрудники

block personnel-item
  +personnel-item(personnelListBeauty[0], true)