-
  var voidHref = 'javascript:;';

  var pages = {
    home: {title: 'List of pages', url: 'home.html'},
    index: {title: 'Медицина', url: 'index.html'},
    beauty: {title: 'Салон красоты', url: 'beauty.html'},
  };

  var modals = {

  };