.page
  display flex

  &_home-project
    display block
    & {$p}__header
      background #2a333c
      margin 0 0 20px
      padding 30px 0
    & {$p}__title
      color white
      margin 0
      small
        color inherit

@keyframes loading
  100%
    transform rotate(360deg)

.loading
  &:before
    content ''
    position absolute
    width rem(30px)
    height rem(30px)
    margin rem(-15px)
    border rem(3px) solid $blue-1
    border-right-color transparent
    border-radius 50%
    top 50%
    left 50%
    right 50%
    bottom 50%
    animation loading 1.2s linear infinite
    z-index $zindex-navbar

//Fancybox
.fancybox-bg
  background white

.fancybox-inner
  &__header
    position absolute
    top 0
    right 0
    left 0
    background white
    box-shadow 0 5px 29px rgba(0, 0, 0, 0.12)
    z-index 99995

  @media (min-width $screen-md-min)
    &__header
      height 0

.fancybox-slide
  white-space nowrap
  width auto
  height auto
  top 3.75rem
  right 0
  bottom 0
  > *
    white-space normal
    width 100%
    padding rem(30px) $grid-gutter-width
    background-color white
    box-shadow 0 5px 29px rgba(0, 0, 0, 0.12)
    margin 0
  .no-touchevents.webkit &
    overflow-y scroll
    overflow-x hidden
    > *
      width unquote('calc(100% + ' + 0.9rem + ')')
      margin-right rem(-0.9rem)

  @media (min-width $screen-md-min)
    top 0
    padding $grid-gutter-width 4rem

.fancybox-close-small
  display block
  color white
  font-size rem(27px)
  line-height 1em
  width 3.75rem
  height 3.75rem
  background $blue-1
  transition $transition-base
  position static
  margin 0 0 0 auto
  &:after
    content normal
  &:hover, &:focus
    background-color $black-1

.fancybox-arrow
  &:after
    background-color $black-1
  .fancybox-show-nav &
    opacity 1

//Slideout
.slideout-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
  width: 260px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: none;
}

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}

